a:hover {
	filter: blur(0px);
}
a{
	filter: saturate(0%);
}
a:active {
	filter: saturate(100%);
}
table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
td {
  font-family: 'Helvetica Neue LT Pro';
  background-color: #f1faee;
  text-align: center;
  color: #1d3557;
}
th {
  font-family: 'Helvetica Neue LT Pro';
  background-color: #1d3557;
  text-align: center;
  color: #f1faee;
}
